.pointerest .point {
	position: absolute;
	cursor: pointer;
	border-radius: 50%;
}

.pointerest .point .line {
	display: block;
	position: absolute;
}
.pointerest .point.left .line {
	right: 100%;
	top: 50%;
}
.pointerest .point.right .line {
	left: 100%;
	top: 50%;
}
.pointerest .point.top .line {
	left: 50%;
	bottom: 100%;
}
.pointerest .point.bottom .line {
	left: 50%;
	top: 100%;
}

.pointerest .point .content {
	position: absolute;
	width: 120px;
	color: white;
	font-size: 14px;
	line-height: 20px;
	display: none;
	padding: 10px 15px;
	border-radius: 5px;
}